
// Brand Colors
$primary: #fdb913;
$heritage: #0a3370;
$ink-blue: #00244e;
$sky-blue:#009dea;
$hero-blue: #2066a2;
$wrap-blue: #13274D;

//Hover State
$primary-hover: #fee097;

//   Font Family
$open-sans: "Open Sans", sans-serif;
$oswald: "Oswald", sans-serif;

.bg-ink {
    background: $ink-blue;
}

.bg-wrap {
    background: $wrap-blue;
}

.ink-blue {
    color: $ink-blue
}

.heritage {
    color: $heritage
}
  

.bg-lightgray {
    background: #F9F9F9;
}